<section>
    <h1 >Rails Budget App</h1>
    <div>
      <%= button_to "LOG IN", new_user_session_path, method: :get%>
      <%= link_to 'Register',  new_user_registration_path %>
    </div>
  </div>
</section>